
body, hmtl{
    height: 100%;
}

h1{
    margin-bottom: 50px;
    
}

h2{
    font-weight: 700;
}

.paragraph{
    margin-top: 10px;
}

.summary{
   text-align: center;
}

.nav{
    justify-content: space-evenly;
    align-items: center;
    display: flex;   
    background-color: #cccccc;
    text-align: right;
    font-family: 'Vesper Libre', serif;
    padding: 15px;
}

.nav_item{
    background-color: #cccccc;
    border-left: 1px solid black;
    padding: 10px;
    

}

.nav_item1{
    text-align: left;
    flex-grow: 1;

}


 .fa{
     padding-right: 10px;
     margin-top: 5px;
     padding-bottom: 2px;
     margin-bottom: 8px;
 }

 .hero_image{
     background-image: url("../images/blood_mountain.jpeg");
     height: 500px;
    
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     position: relative;
 }

 .hero_text{
     text-align: center;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
     color: white;
 }

button{
    background-color: black;
    border-radius: 20px;
    color: white;
    margin-right: 10;
   
}

#profile_pic{
   display: block;
   margin-left: auto;
   margin-right: auto;
   max-width: 100%;
   border-radius: 25%;
   height: auto;
   
}
.profile_info{
     
       padding: 10px;
       display: flex;
       height: 60%;
       width: 500px;
       flex-direction: column;
       margin: 0 auto;
       background-color: #cccccc;
     
      
}

.content_info1 .content_info2 .content_info3{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-position: center;
    
    
}

.content_info1{
    margin-bottom: 10px;
}

.content_text{
    margin-bottom: 20px;
    
}

.summary{
    text-align: center;
 }
.skills_list{
    list-style-position: inside;
    list-style-type: square;
    
}

.tech_list{
    list-style-type: square;
    list-style-position: inside;
}

.project{
    padding: 1%;
    margin-top: 20px;
    text-align: center;
}
.project_flex{
    padding: 1px;
    margin: 10px;
    display: flex;
    text-align: center;
    justify-content: space-between;

    
}

.project_item1{
    padding: 20px;
    text-align: center;
    flex-grow: 1;
    color: white;
    background-image: url(../images/swiping\ screen.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 800px;
    width: 200px;
   
    
}

.project_item2{
    padding: 20px;
    padding-right: 20px;
    text-align: center;
    background-image: url(../images/Screen\ Shot\ 2021-01-13\ at\ 5.13.34\ PM.png);
    background-repeat: no-repeat;
    background-size: contain;
    flex-grow: 1;
    color: white;
    height: 800px;
    width: 200px;

    
}

.project_item3{
    padding: 20px;
    
    background-image: url(../images/Screen\ Shot\ 2021-01-13\ at\ 5.11.37\ PM.png);
    background-repeat: no-repeat;
    background-size: contain;
    flex-grow: 2;
    flex-wrap: wrap;
    color: white;
    background-position: center;
    background-color: #cccccc;
    
}

footer{
    text-align: center;
    padding: 3px;
    background-color: #cccccc;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: flex-start;

}

footer .fa{
    flex-grow: 1;
    text-align: right;
    color: black;
   
}

footer p{
    text-align: left;

}

.copyright{
    align-items: baseline;
    text-align: center;
    flex-grow: 2;
    font-size: 12px;
    padding-top: 50px;
  
}



.footer_name{
    padding: 10px;
    display: flex;
    flex-direction: column;

    
}